.dropdown-menu {
    border-radius: 5px !important;
}

.custom_collapse {
    display: flex !important;
}

@media (min-width: 992px) {
    .navbar-collapse.collapse {
        display: flex !important;
    }
}

@media (min-width: 762px) {
    .navbar-collapse.collapse {
        display: none;
    }
}